.container-fluid img {
    height: 50px;
    width: 50px;
}
.bgcolor1 {
    background: linear-gradient(#22283E, #384265);
}
.bgcolor2 {
    background: linear-gradient(#764F4A, #614544);
}
div a {
    color: black;
}
div a:hover {
    color:  #fff;
    text-decoration: none;
}