* {
    color: #2B4546;
}
body, html {
    height: 100%;
}
.bg {
    background-image: url("/images/jinxbg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
.container-fluid img {
    height: 50px;
    width: 50px;
}
button {

    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #65797A, #2D4748);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}
button:hover {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.next-button {
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.margin-bottom {
    margin-bottom: 0;
}
.imglogo {

}
.bgcolor2 {
    background: linear-gradient(#764F4A, #614544);
}
footer a, i {
    color: #22283E;
}
div a:hover {
    color:  #fff;
    text-decoration: none;
}
@media screen and (max-width:415px) {
    .margin-bottom {
        margin-bottom: 50px;
    }
}
@media screen and (max-width:915px) {
    .margin-bottom {
        margin-bottom: 50px;
    }
}